body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(67, 135, 195);
}

#grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    aspect-ratio: 1 / 1;
    height: 100vmin;
    width: 100vmin;
    padding: 10px;
    background-color: brown;
}

.grid-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: blueviolet;
    width: 100vmin;
    height: 100vmin;
}

.grid-square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    height: 100%;
    text-align: center;
    font-size: 30px;
}

@container (max-height: 40px){
    .grid-square {
        font-size: 3em;
    }
}

.fade-in-grid-square {
    background-color: aquamarine;
}

.fade-in-grid-square:hover {
    background-color: chartreuse;
}

.fade-in-grid-square-highlighted {
    background-color: deeppink;
}