body {
    display: flex;
    flex-direction: column;
}

#grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: auto;
    height: auto;
}

#grid-container > div {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: blueviolet;
    width: 800px;
    height: 800 px;
}

#grid-container > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    text-align: center;
}

.fade-in-grid-square {
    background-color: aquamarine;
}

.fade-in-grid-square:hover {
    background-color: chartreuse;
}

.fade-in-grid-square-highlighted {
    background-color: deeppink;
}